$scrollbarSize: 8px;
$backgroundColor: #333333;
$defaultTextColor: $white;
$primaryColor: #222222;
$secondaryColor: red;

:root {
  --backgroundColor: #{#333333};
  --defaultTextColor: #{$white};
  --primaryColor: #{#222222};
  --secondaryColor: #{$amber};
}